.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);

  input,
  select {
    flex: 1;
    width: 100%;
    max-width: 450px;
    min-height: 50px;
    font-family: inherit;
    font-size: var(--font-size-16);
    padding: var(--spacing-4);
  }

  button {
    height: 50px;
  }
}