$neg-space-200px: -200px;
$space-400px: 400px;
$space-500px: 500px;
$space-700px: 700px;
$space-1000px: 1000px;
$width-60: 60%;
$width-75: 75%;
$width-100: 100%;

.sectionStarted {
  position: relative;
  padding: var(--spacing-52) var(--spacing-80);
  width: $width-100;

  .imageContainer {
    position: relative;
    width: $width-75;
    height: $space-700px;
  }

  .overlayWrapper {
    position: absolute;
    right: $neg-space-200px;
    bottom: var(--spacing-0);
    max-width: $width-60;
    background-color: var(--color-white);
    padding: var(--spacing-80);

    .title {
      font-size: var(--font-size-36);
      font-weight: var(--font-weight-700);
      margin: var(--spacing-20) var(--spacing-0);
    }

    .subtitle {
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-400);
      color: var(--color-grey);
      margin-bottom: var(--spacing-20);
    }
  }

  @media (max-width: 992px) {
    padding: var(--spacing-0);

    .imageContainer {
      width: $width-100;
      height: $space-500px;
    }

    .overlayWrapper {
      max-width: $width-75;
      right: var(--spacing-0);
      padding: var(--spacing-40);

      .title {
        font-size: var(--font-size-24);
      }

      .subtitle {
        font-size: var(--font-size-14);
      }
    }
  }
}