$space-400px: 400px;
$space-600px: 600px;
$space-720px: 720px;
$space-1000px: 1000px;
$width-100: 100%;

.banner {
    position: relative;
    width: $width-100;
    height: $space-720px;

    .overlay {
        position: absolute;
        top: var(--spacing-0);
        left: var(--spacing-0);
        width: $width-100;
        height: $width-100;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: start;
        background-color: rgba(0, 0, 0, 0.4);
        color: var(--color-white);
        padding-left: var(--spacing-80);
    }

    .textContainer {
        text-align: start;
    }

    .title {
        max-width: $space-1000px;
        font-size: var(--font-size-56);
        font-weight: var(--font-weight-700);
        margin-bottom: var(--spacing-32);
    }

    .info {
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-500);
        margin-bottom: var(--spacing-16);
    }

    .subtitle {
        max-width: $space-600px;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-400);
        margin-bottom: var(--spacing-32);
    }

    .image {
        object-fit: cover;
    }

    @media (max-width: 768px) {
        height: $space-400px;
        padding: var(--spacing-20);
        .overlay{
            padding: var(--spacing-20);
        }
        .title {
            font-size: var(--font-size-28);
            margin-bottom: var(--spacing-20);
        }

        .info {
            font-size: var(--font-size-16);
            margin-bottom: var(--spacing-12);
        }

        .subtitle {
            font-size: var(--font-size-14);
            margin-bottom: var(--spacing-20);
        }
    }
}