@import '@/theme/styles.module.scss';

$spacing-100: 100%;
$spacing-700: 700px;

.wrapper {
  @extend .container;
  position: relative;
  width: $spacing-100;
  min-height: $spacing-700;
  display: flex;
  gap: var(--spacing-20);
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--color-main-white);
  padding: var(--spacing-32) var(--spacing-0);

  @media (max-width: 768px) {
    padding: var(--spacing-8);
  }

}