@import '@/theme/styles.module.scss';

$spacing-380: 380px;
$spacing-480: 480px;

.wrapper {
  @extend .container;
  position: relative;
  margin-bottom: var(--spacing-80);

  .galleryContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-20);
  }

  .imageWrapper {
    flex: 1;
    border-radius: var(--border-radius-8);
    max-height: $spacing-480;
    max-width: $spacing-380;
    overflow: hidden;
    object-fit: contain;

    img {
      object-fit: contain;
    }
  }
}