@import '@/theme/styles.module.scss';

.wrapper {
  @extend .container;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-40);
  margin-bottom: var(--spacing-80);

  .infoContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-0) var(--spacing-20);

    h1 {
      font-size: var(--font-size-36);
      font-weight: var(--font-weight-500);
    }

    .price {
      font-size: var(--font-size-24);
      font-weight: var(--font-weight-500);
      color: var(--color-grey);
    }

    .review {
      display: flex;
      align-items: center;

      .stars {
        color: var(--color-yellow);
        margin-right: var(--spacing-12);
      }

      .reviewCount {
        color: var(--color-grey);
      }
    }

    .description {
      margin: var(--spacing-20) var(--spacing-0);
      line-height: 1.6;
      width: 500px;
    }

    .reservationButton {
      cursor: pointer;
      background: none;
      font-size: var(--font-size-20);
      font-weight: var(--font-weight-400);
      border: 1px solid var(--color-brown);
      transition: background-color 0.5s, color 0.5s;
      border-radius: var(--border-radius-12);
      padding: var(--spacing-20) var(--spacing-28);
      max-width: 215px;

      &:hover {
        background-color: var(--color-brown);
        color: var(--color-main-white);
      }
    }
  }


}