
$spacing-50: 50%;
$spacing-100: 100%;

.wrapper {
  position: relative;
  width: $spacing-100;
  margin: auto;

  .video {
    width: $spacing-100;
    height: auto;
    display: block;
  }

  button {
    cursor: pointer;
    position: absolute;
    top: $spacing-50;
    left: $spacing-50;
    transform: translate(-50%, -50%);
    background: var(--color-light-grey-second);
    border: none;
    border-radius: var(--border-radius-circle);
    width: var(--spacing-64);
    height: var(--spacing-64);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;

    &:hover {
      background: var(--color-light-grey);
    }
  }
}