$space-200px: 200px;
$space-350px: 350px;
$width-100: 100%;

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-40);
  padding: var(--spacing-80);

  .featuredPostWrapper {
    flex: 1.5;
  }

  .allPostWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    a {
      flex: 1;
    }
  }

  .headerAllPost {
    display: flex;
    justify-items: space-between;
    align-items: center;

    a {
      flex: none;
      margin-left: auto;
      margin-bottom: var(--spacing-16);
      color: var(--color-purple);

      &::after {
        background-color: var(--color-purple);
      }
    }
  }

  .sectionName {
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-700);
    line-height: var(--spacing-40);
    margin-bottom: var(--spacing-28);
  }

  .postCard {
    width: $width-100;
    border-radius: var(--border-radius-4);
    border: 1px solid var(--color-light-grey);
    padding: var(--spacing-32);
  }

  .image {
    position: relative;
    width: $width-100;
    height: $space-350px;
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius-4);
  }

  .infoPost {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
    margin: var(--spacing-24) var(--spacing-0);

    span {
      color: var(--color-purple);
    }
  }

  .title {
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-700);
    line-height: var(--spacing-40);
  }

  .subtitle {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
    line-height: var(--spacing-28);
    margin: var(--spacing-24) var(--spacing-0);
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    padding: var(--spacing-20);

  }

  @media (max-width: 576px) {
    flex-direction: column;
    padding: var(--spacing-20);

    .image {
      height: $space-200px;
    }
  }
}