$spacing-100: 100%;
$spacing-32: 32px;
$spacing-47: 47px;
$spacing-250: 250px;
$spacing-385: 385px;
$spacing-415: 415px;

.card {
  width: $spacing-385;
  height: $spacing-415;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-grey-second);
  border-radius: var(--border-radius-4);
  text-align: center;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: var(--spacing-0) var(--spacing-8) var(--spacing-8) rgba(0, 0, 0, 0.5);
  }

  .imageContainer {
    width: $spacing-100;
    height: $spacing-250;
    position: relative;
    margin-bottom: var(--spacing-12);
    border-radius: var(--border-radius-4);
    object-fit: cover;
  }

  .description {
    width: $spacing-100;
    padding: var(--spacing-12);
    border-bottom: 1px solid var(--color-brown);
    color: var(--color-brown);

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .title,
    .price {
      width: auto;
      font-size: var(--font-size-24);
      font-weight: var(--font-weight-700);
      text-align: start;
    }

    .subtitle {
      width: auto;
      font-size: var(--font-size-12);
      font-weight: var(--font-weight-400);
      margin-left: auto;
    }

  }

  .footer {
    width: $spacing-100;
    display: flex;
    justify-items: space-between;
    align-items: center;
    padding: var(--spacing-12);

    .advantages {
      display: flex;
      align-items: center;
      gap: var(--spacing-12);

      img {
        padding: var(--spacing-8);
        height: $spacing-32;
        width: $spacing-32;
        object-fit: contain;
        border-radius: var(--border-radius-circle);
        background-color: var(--color-light-grey);
      }
    }

    button {
      height: $spacing-47;
      margin-left: auto;
    }
  }
}