$spacing-100: 100%;
$spacing-80: 80px;
$spacing-450: 450px;

.galleryContainer {
    display: flex;
    flex: 1;

    .thumbnails {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-12);
        margin-right: var(--spacing-20);
    }

    .thumbnail {
        overflow: hidden;
        width: $spacing-80;
        height: $spacing-80;
        cursor: pointer;
        border: 1px solid var(--color-main-white);
        transition: border-color 0.3s;
        background-color: var(--color-light-yellow);
        border-radius: var(--border-radius-12);

        &.selected {
            border-color: var(--color-yellow);
        }
    }

    .mainImage {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: $spacing-100;
        max-height: $spacing-100;
        background-color: var(--color-light-yellow);
        border-radius: var(--border-radius-12);

        img {
            width: $spacing-100;
            height: auto;
            max-height: $spacing-450;
        }
    }
}