@import '@/theme/styles.module.scss';

$spacing-100: 100%;
$spacing-0: 0px;
$spacing-6: 6px;
$spacing-130: 130px;

.wrapper {
  position: relative;
  width: $spacing-100;
  height: auto;
  color: var(--color-main-white);
  text-align: center;
  padding: var(--spacing-32) var(--spacing-0);
  margin-top: var(--spacing-40);

  .backgroundImage {
    position: absolute;
    top: $spacing-0;
    left: $spacing-0;
    width: $spacing-100;
    height: $spacing-100;
    z-index: 1;

    img {
      width: $spacing-100;
      height: $spacing-100;
      object-fit: cover;
      filter: brightness(0.5);
    }

    .overlay {
      position: absolute;
      top: var(--spacing-0);
      left: var(--spacing-0);
      width: $spacing-100;
      height: $spacing-100;
      background: var(--color-brown);
      opacity: 0.7;
    }
  }

  .content {
    @extend .container;
    position: relative;
    z-index: var(--z-index-1);

    .title {
      font-size: var(--font-size-56);
      font-weight: var(--font-weight-600);
      margin-bottom: var(--spacing-20);

      &::after {
        content: '';
        margin: auto;
        margin-top: var(--spacing-20);
        display: block;
        width: $spacing-130;
        height: $spacing-6;
        background-color: var(--color-main-white);
      }
    }

    .subtitle {
      margin-bottom: var(--spacing-52);
    }

    .rooms {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: var(--spacing-20);
    }
  }

  @media (max-width: 992px) {
    .content {
      .rooms {
        justify-content: center;
      }
    }
  }
}