$spacing-100: 100%;
$neg-spacing-100: -100px;
$spacing-40: 40px;
$spacing-150: 150px;

.languageSwitcher {
    position: relative;
    display: inline-block;
}

.flag {
    cursor: pointer;
}

.languageOptions {
    position: absolute;
    top: $spacing-100;
    left: $neg-spacing-100;
    background-color: var(--color-main-white);
    box-shadow: var(--spacing-0) 2px var(--spacing-8) rgba(0, 0, 0, 0.2);
    z-index: var(--z-index-100);
    width: $spacing-150;
}

.languageOption {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: var(--spacing-8);

    &:hover {
        color: var(--color-dark);
        background-color: var(--color-main-white);
    }
}

.active {
    color: var(--color-main-white);
    font-weight: bold;
    background-color: var(--color-brown);
}

.optionFlag {
    width: var(--spacing-20);
    margin-right: var(--spacing-8);
}