.languageSwitcher {
    position: relative;
    display: inline-block;
}

.flag {
    cursor: pointer;
}

.languageOptions {
    position: absolute;
    top: 100%;
    left: -100px;
    background-color: var(--color-main-white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: var(--z-index-100);
    width: 150px;
}

.languageOption {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: var(--spacing-8);

    &:hover {
        color: var(--color-dark);
        background-color: var(--color-main-white);
    }
}

.active {
    color: var(--color-main-white);
    font-weight: bold;
    background-color: var(--color-brown);
}

.optionFlag {
    width: 20px;
    margin-right: 8px;
}