@import '@/theme/styles.module.scss';
$space-250px: 250px;
$space-320px: 320px;
$space-500px: 500px;

.SectionTestimonial {
  @extend .container;
  position: relative;
  text-align: center;
  margin-bottom: var(--spacing-32);

  h2 {
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-700);
    margin: var(--spacing-32) var(--spacing-0);
  }

}