.card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: var(--color-light-grey-second);
  border-radius: var(--border-radius-8);
  transition: box-shadow 0.3s;
  box-shadow: var(--spacing-0) var(--spacing-4) var(--spacing-4) rgba(0, 0, 0, 0.3);
  padding: var(--spacing-20);

  &:hover {
    box-shadow: var(--spacing-0) var(--spacing-8) var(--spacing-8) rgba(0, 0, 0, 0.5);
  }

  .imageContainer {
    position: relative;
    width: 180px;
    height: 100%;
    margin-bottom: var(--spacing-12);
    margin: auto;
    border-radius: var(--border-radius-4);
    object-fit: contain;
  }

  .header {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-700);
  }

  .description {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-700);
  }

  .footer {
    width: 100%;
    display: flex;
    justify-items: space-between;
    align-items: center;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
  }

  button {
    height: 25px;
    width: 80px;
    margin-left: auto;
  }

  @media (max-width: 768px) {
    width: 150px;
    height: 150px;
    padding: var(--spacing-8);

    .header {
      font-size: var(--font-size-12);
    }

    .description {
      font-size: var(--font-size-16);
    }

    .footer {
      font-size: var(--font-size-12);
    }

    button {
      width: 40px;
      font-size: var(--font-size-12) !important;
    }

    .imageContainer {
      width: 64px;
    }

  }
}