@import '@/theme/styles.module.scss';

$spacing-100: 100%;
$spacing-600: 600px;
$spacing-700: 700px;

.wrapper {
  position: relative;
  width: $spacing-100;
  min-height: $spacing-700;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-main-white);
  padding: var(--spacing-32) var(--spacing-0);
  margin-bottom: var(--spacing-40);

  .backgroundImage {
    position: absolute;
    top: var(--spacing-0);
    left: var(--spacing-0);
    width: $spacing-100;
    height: $spacing-100;
    z-index: var(--z-index-1);

    img {
      width: $spacing-100;
      height: $spacing-100;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: var(--spacing-0);
      left: var(--spacing-0);
      width: $spacing-100;
      height: $spacing-100;
      background: var(--color-brown);
      opacity: 0.6;
    }
  }

  .content {
    @extend .container;
    position: relative;
    height: inherit;
    z-index: var(--z-index-1);

    .title {
      font-size: var(--font-size-56);
      font-weight: var(--font-weight-800);
      margin-bottom: var(--spacing-40);
    }

    .subtitle {
      width: $spacing-600;
      font-size: var(--font-size-20);
      font-weight: var(--font-weight-500);
      margin: auto;
      margin-bottom: var(--spacing-40);
    }
  }

  @media (max-width: 768px) {
    .content .subtitle {
      width: $spacing-100;
    }
  }
}