@import '@/theme/styles.module.scss';

$spacing-100: 100%;
$spacing-250: 250px;
$spacing-400: 400px;
$spacing-450: 450px;
$spacing-620: 620px;
$spacing-700: 700px;

.wrapper {
  display: flex;
  justify-content: space-between;
  @extend .container;

  .description {
    max-width: $spacing-400;
    padding-top: var(--spacing-28);

    h1 {
      font-size: var(--font-size-56);
      font-weight: var(--font-weight-700);
      line-height: var(--spacing-64);
      padding: var(--spacing-28) var(--spacing-0);
      margin-bottom: var(--spacing-48);
    }

    h3 {
      font-family: var(--font-family-dancing);
      font-size: var(--font-size-36);
      color: var(--color-brown);
      padding-top: var(--spacing-48);
    }

    p {
      max-width: $spacing-250;
      font-size: var(--font-size-16);
      padding-bottom: var(--spacing-20);
      margin-bottom: var(--spacing-12);
    }
  }

  .moveTour {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-12);

    button {
      font-size: var(--font-size-22) !important;
      font-weight: var(--font-weight-600);
      padding: var(--spacing-12) var(--spacing-28);
    }
  }

  .image {
    position: relative;
    height: $spacing-620;
    width: $spacing-700;

    img {
      position: relative;
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }

  @media (max-width: 768px) {
    width: $spacing-100;
    max-width: $spacing-100;
    height: $spacing-100;

    .description {
      position: relative;
      max-width: $spacing-100;
      width: $spacing-100;
      min-height: $spacing-450;
      z-index: var(--z-index-10);
      text-align: center;
      color: var(--color-main-white);

      h1 {
        padding: var(--spacing-12) var(--spacing-0);
      }

      h3 {
        color: var(--color-main-white);
        padding-top: var(--spacing-8);
      }

      p {
        text-align: center;
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-600);
        margin: auto;
      }
    }

    .moveTour {
      button {
        margin: auto;
      }
    }

    .image {
      position: absolute;
      height: $spacing-450;
      max-width: $spacing-100;
      width: $spacing-100;

      img {
        height: inherit;
        width: $spacing-100;
        object-fit: cover;
      }
    }
  }
}