$space-350px: 350px;
$space-600px: 600px;
$width-100: 100%;

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-purple);
  width: $width-100;
  padding: var(--spacing-80);
  gap: var(--spacing-80);


  .featuredPostWrapper {
    flex: 1;
    width: $width-100;

    .sectionName {
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-500);
      margin-bottom: var(--spacing-28);
    }

    .infoPost {
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-500);
      margin: var(--spacing-24) var(--spacing-0);

      span {
        color: var(--color-purple);
      }
    }

    .title {
      font-size: var(--font-size-28);
      font-weight: var(--font-weight-700);
      line-height: var(--spacing-40);
    }

    .subtitle {
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-400);
      line-height: var(--spacing-28);
      margin: var(--spacing-24) var(--spacing-0);
    }
  }


  .image {
    flex: 1;
    position: relative;
    max-width: $space-600px;
    height: $space-350px;
    background-size: cover;
    background-position: center;
  }



  @media (max-width: 992px) {
    padding: var(--spacing-52) var(--spacing-20);

    .featuredPostWrapper {
      .title {
        font-size: var(--font-size-20);
        line-height: var(--spacing-32);
      }

      .subtitle {
        font-size: var(--font-size-14);
        line-height: var(--spacing-20);
        margin: var(--spacing-24) var(--spacing-0);
      }
    }
  }

  @media (max-width: 768px) {
    .image {
      display: none;
    }
  }
}