.sectionAuthor {
  position: relative;
  text-align: center;
  gap: var(--spacing-40);
  padding: var(--spacing-80);

  .sectionTitle {
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-700);
    line-height: var(--spacing-48);
    margin-bottom: var(--spacing-40);
  }

  .cardsAuthors {
    display: flex;
    gap: var(--spacing-52);
    justify-content: end;
    align-items: center;

  }

  @media (max-width: 992px) {
    padding: var(--spacing-20);

    .cardsAuthors {
      flex-wrap: wrap;
      justify-content: center;
      gap: var(--spacing-20);
    }
  }
}