$spacing-100: 100%;
$spacing-25: 25px;
$spacing-30: 30px;

.sliderContainer {
    text-align: center;
    max-width: $spacing-100;
    padding-bottom: var(--spacing-40);
    padding-top: var(--spacing-20);
    overflow: hidden;

    .buttons {
        display: flex;
        gap: var(--spacing-64);
        justify-content: end;
        margin-right: var(--spacing-36);

        .prev,
        .next {
            cursor: pointer;
            background: none;
            width: $spacing-30;
            height: $spacing-25;
            border-radius: var(--border-radius-12);
            border: 1px solid var(--color-purple);
            color: var(--color-purple);
            font-size: var(--font-size-18);
            transform: translateY(-50%);

            &:hover {
                background-color: var(--color-purple);
                color: var(--color-main-white);
            }
        }
    }

    .slides {
        display: flex;
        gap: var(--spacing-36);
        transition: transform 0.5s ease-in-out;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;

        .buttons {
            justify-content: center;
            order: 2;
            margin-top: var(--spacing-32);
            margin-right: var(--spacing-0);
        }

        .slides {
            order: 1;
        }
    }
}